/* Navigation Icon */

.navbtn {
  position: absolute;
  left: 30px;
  top: 30px;
  cursor: pointer;
}

.bar {
  width: 35px;
  height: 5px;
  background-color: green;
  margin: 6px 0;
}

/* Form Pannel  */

.formPannel-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 100vh;
  background-color: #ecf0f1;
  transition: 0.3s ease;
  z-index: 2;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  overflow-y: auto;
}

/* Close Icon */
.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.2s ease;
}

.close:hover {
  opacity: 1;
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: "";
  height: 33px;
  width: 2px;
  background-color: green;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

/* Form Pannel Sub Container */
.formpannel-subContainer {
  width: 90%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.formpannel-subContainer input {
  padding-top: 26px;
  width: 50%;
  font-size: 20px;
  margin-left: 50px;
  margin-bottom: 20px;
  outline: none;
  border: none;
  border-bottom: 1px solid green;
  background-color: #ecf0f1;
}

.formpannel-subContainer label {
  font-size: 20px;
  margin-left: 50px;
}

.formpannel-subContainer button {
  margin-top: 15px;
  margin-left: 50px;
  padding: 15px 20px;
  cursor: pointer;
}

/* Add Form */

.add-container {
  position: relative;
  width: 80%;
  margin: auto;
  height: 100px;
}

.addform-container {
  width: 100%;
  text-align: center;
  padding-top: 50px;
}

.account {
  margin-right: 100px;
  margin-left: 15px;
  padding: 15px 30px 0px 0px;
  font-size: 20px;
  outline: none;
  border: none;
  border-bottom: 1px solid green;
}

.amount {
  margin-left: 15px;
  padding: 15px 30px 0px 0px;
  font-size: 20px;
  outline: none;
  border: none;
  border-bottom: 1px solid green;
}

.addform-container button {
  margin-left: 100px;
  padding: 12px 40px 12px 40px;
  cursor: pointer;
  color: white;
  background-color: green;
  font-size: 18px;
  border-radius: 15px;
  transition: 0.2s ease;
}

.addform-container button:hover {
  background-color: #2ecc71;
}

/* Main data container */

.data-container {
  margin-top: 100px;
}

/* Chart Container */
.chart-container {
  width: 90%;
  margin: auto;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  grid-column-gap: 10px;
  cursor: pointer;
}

.chart-container:hover {
  opacity: 0.8;
}

.accountName {
  position: relative;
  margin-top: 10px;
  height: 40px;
  text-align: right;
}

.accountName p {
  position: absolute;
  right: 10px;
  top: -8%;
}

.barAmount {
  width: 100%;
  position: relative;
  margin-top: 10px;
  height: 40px;
  background-color: green;
  text-align: right;
}

.barAmount p {
  position: absolute;
  right: 10px;
  top: -8%;
  color: white;
}
