/* Navigtion menu buttons */

#mySidenav a {
  position: fixed;
  left: -90px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}

#workout {
  top: 20px;
  background-color: #4caf50;
}

#finances {
  top: 80px;
  background-color: #2196f3;
}

#vacation {
  top: 140px;
  background-color: #f44336;
}
